body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#video_area,#canvasOutput{
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}

#canvas1,#canvas2{
  float: left;
}

#pre_button{
  clear: both;
}
