doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
    //img(src="/images/lenna.jpg")
    //script(src='javascript/processing_cv4.js',type='text/javascript')